<div class="account-pages mt-5 mb-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-pattern">

                  <div class="card-body p-4">
                      
                      <div class="text-center w-75 m-auto">
                          <a href="index.html">
                              <span><img src="assets/images/vedic7.png" alt="" height="22"></span>
                          </a>
                          <p class="text-muted mb-4 mt-3">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                      </div>

                      <form (ngSubmit)="onSubmit(fm)" #fm="ngForm" [formGroup]="resetPaswordForm">

                          <div class="form-group mb-3">
                              <label for="password">New Password</label>
                              <input ngModel name="password" id="password" formControlName="password" [ngClass]="{'is-invalid' : submitted && f.password.errors}" class="form-control" type="password" id="password" required="" placeholder="Enter your new password">
                              <div *ngIf="submitted && f.password.errors">
                                <label class="col" [ngClass]="resetPaswordForm.controls['password'].hasError('required') || resetPaswordForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                                    <i class="material-icons">{{ resetPaswordForm.controls['password'].hasError('required') ||
                                      resetPaswordForm.controls['password'].hasError('minlength') ? 'cancel' :
                                      'check_circle' }}</i>
                                    Must be at least 8 characters!
                                  </label>
                                  
                                  <label class="col" [ngClass]="resetPaswordForm.controls['password'].hasError('required') || resetPaswordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                                    <i class="material-icons">
                                      {{ resetPaswordForm.controls['password'].hasError('required') || resetPaswordForm.controls['password'].hasError('hasNumber') ? 'cancel' : 'check_circle' }}
                                    </i> 
                                    Must contain at least 1 number!
                                  </label>
                                  
                                  <label class="col" [ngClass]="resetPaswordForm.controls['password'].hasError('required') || resetPaswordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'"> 
                                    <i class="material-icons">
                                      {{ resetPaswordForm.controls['password'].hasError('required') || resetPaswordForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}
                                    </i> Must contain at least 1 in Capital Case!
                                  </label>
                                  
                                  <label class="col" [ngClass]="resetPaswordForm.controls['password'].hasError('required') || resetPaswordForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                   <i class="material-icons">
                                     {{ resetPaswordForm.controls['password'].hasError('required') || resetPaswordForm.controls['password'].hasError('hasSmallCase') ? 'cancel' : 'check_circle' }}
                                   </i> 
                                   Must contain at least 1 Letter in Small Case!
                                  </label>
                                  
                                  <label class="col" [ngClass]="resetPaswordForm.controls['password'].hasError('required') || resetPaswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                                    <i class="material-icons">
                                     {{ resetPaswordForm.controls['password'].hasError('required') || resetPaswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' : 'check_circle' }}
                                    </i> 
                                    Must contain at least 1 Special Character!
                                  </label>
                              </div>
                            </div>

                          <div class="form-group mb-0 text-center">
                              <button class="btn btn-primary btn-block" type="submit"> Reset Password </button>
                          </div>
                          <br>
                          <div class="alert alert-success" role="alert" *ngIf="success">
                            <i class="mdi mdi-check-all mr-2"></i> New password is reset successfully .<strong> <a routerLink="/login">Login</a></strong>
                        </div>

                      </form>

                  </div> <!-- end card-body -->
              </div>
              <!-- end card -->

              <div class="row mt-3">
                  <div class="col-12 text-center">
                      <p class="text-white-50">Back to <a routerLink="/login" class="text-white ml-1"><b>Log in</b></a></p>
                  </div> <!-- end col -->
              </div>
              <!-- end row -->

          </div> <!-- end col -->
      </div>
      <!-- end row -->
  </div>
  <!-- end container -->
</div>
<footer class="footer footer-alt">
  2019 &copy; Vedicare by <a href="" class="text-white-50">Doctto Online Healthcare Innovation Pvt Ltd</a> 
</footer>